Repository jyjulianwong/Turtle-Quant-1: changes, and which pre-commit hooks are due for each by the changed paths.
All: jupyter-nbconvert, pyrefly

jupyter-nbconvert:
  name: jupyter-nbconvert
  entry: jupyter nbconvert --clear-output
  language: system
  stages:
  - pre-commit

pyrefly:
  name: pyrefly
  entry: pyrefly check --config pyproject.toml
  language: system
  stages:
  - pre-commit

Added robust support for 5-minute resolution for DataMaintainer
  src/turtle_quant_1/backtesting/engine.py
  src/turtle_quant_1/data_processing/datetimes.py
  src/turtle_quant_1/data_processing/maintainer.py
Due: pyrefly

Replaced manual logging with tqdm loading bar in backtesting
  src/turtle_quant_1/backtesting/engine.py
Due: pyrefly

Added clearer code comments in candle_units.py
  src/turtle_quant_1/strategies/helpers/candle_units.py
Due: pyrefly

Refactored common parts of backtesting and live trading into TradingEngine class
  src/turtle_quant_1/backtesting/engine.py
  src/turtle_quant_1/trading/__init__.py
  src/turtle_quant_1/trading/engine.py
Due: pyrefly

Added support for event-driven replay for every backtesting tick
  src/turtle_quant_1/backtesting/engine.py
  src/turtle_quant_1/strategies/helpers/candle_units.py
  src/turtle_quant_1/strategies/helpers/data_units.py
  src/turtle_quant_1/trading/engine.py
Due: pyrefly

Replaced logger usage with centralised logging module
  src/turtle_quant_1/backtesting/engine.py
  src/turtle_quant_1/backtesting/hyperparameters.py
  src/turtle_quant_1/backtesting/main.py
  src/turtle_quant_1/backtesting/portfolio.py
  src/turtle_quant_1/backtesting/runner.py
  src/turtle_quant_1/data_processing/adapters/yfinance_fetcher.py
  src/turtle_quant_1/data_processing/maintainer.py
  src/turtle_quant_1/data_processing/processor.py
  src/turtle_quant_1/logging.py
  src/turtle_quant_1/strategies/engine.py
  src/turtle_quant_1/strategies/helpers/data_units.py
  src/turtle_quant_1/strategies/helpers/multiprocessing.py
  src/turtle_quant_1/strategies/helpers/support_resistance/base.py
  tests/conftest.py
Due: pyrefly

Fixed critical index-out-of-bounds bug in TradingEngine
  src/turtle_quant_1/trading/engine.py
Due: pyrefly

Fixed visualisations and DataFrame indexing to eliminate time gaps from holidays
  notebooks/backtesting/main.ipynb
  notebooks/strategies/candlesticks_viz.ipynb
  notebooks/strategies/mean_reversion_viz.ipynb
  notebooks/strategies/momentum_viz.ipynb
  src/turtle_quant_1/backtesting/viz.py
  src/turtle_quant_1/strategies/base.py
  src/turtle_quant_1/strategies/candlesticks/engulfing_pattern.py
  src/turtle_quant_1/strategies/candlesticks/momentum_pattern.py
  src/turtle_quant_1/strategies/candlesticks/multiple_pattern.py
  src/turtle_quant_1/strategies/mean_reversion/bollinger_band.py
  src/turtle_quant_1/strategies/mean_reversion/fast_stoch_osc_crossover.py
  src/turtle_quant_1/strategies/mean_reversion/mfi_divergence.py
  src/turtle_quant_1/strategies/mean_reversion/roc_multi_condition_crossover.py
  src/turtle_quant_1/strategies/mean_reversion/rsi_sup_res_divergence.py
  src/turtle_quant_1/strategies/mean_reversion/slow_stoch_osc_crossover.py
  src/turtle_quant_1/strategies/momentum/moving_average_con_div.py
  src/turtle_quant_1/strategies/momentum/moving_average_crossover.py
  src/turtle_quant_1/strategies/momentum/relative_strength_index.py
Due: jupyter-nbconvert, pyrefly

Removed CANDLE_UNIT hardcoding in data downloaders, fixed visualisations
  notebooks/strategies/candlesticks_viz.ipynb
  notebooks/strategies/mean_reversion_viz.ipynb
  notebooks/strategies/momentum_viz.ipynb
  src/turtle_quant_1/backtesting/engine.py
  src/turtle_quant_1/backtesting/viz.py
  src/turtle_quant_1/data_processing/adapters/alpha_vantage_fetcher.py
  src/turtle_quant_1/data_processing/adapters/gcs_storage_adapter.py
  src/turtle_quant_1/data_processing/adapters/yfinance_fetcher.py
  src/turtle_quant_1/data_processing/base.py
  src/turtle_quant_1/data_processing/maintainer.py
  src/turtle_quant_1/data_processing/processor.py
  src/turtle_quant_1/strategies/helpers/data_units.py
  src/turtle_quant_1/strategies/helpers/support_resistance/stnry_fibonacci_retrace.py
  src/turtle_quant_1/strategies/helpers/support_resistance/stnry_local_extrema.py
  src/turtle_quant_1/strategies/helpers/support_resistance/stnry_pivot_point.py
  tests/data_processing/test_data_fetcher.py
  tests/data_processing/test_data_processor.py
Due: jupyter-nbconvert, pyrefly

Fixed TradingEngine executing repeated trades, renamed generic class names
  notebooks/backtesting/main.ipynb
  src/turtle_quant_1/backtesting/engine.py
  src/turtle_quant_1/backtesting/hyperparameters.py
  src/turtle_quant_1/backtesting/main.py
  src/turtle_quant_1/backtesting/runner.py
  src/turtle_quant_1/strategies/engine.py
  src/turtle_quant_1/trading/engine.py
Due: jupyter-nbconvert, pyrefly

Migrated from pdoc to mkdocs
  .github/workflows/main-docs.yaml
  README.md
  docs/index.md
  docs/optimization-v1.2.0.md
  mkdocs.yml
  pyproject.toml
  scripts/gen_ref_pages.py
  uv.lock
Due: pyrefly

1.3.0
  CHANGELOG.md
  pyproject.toml
Due: none

Re-rendered turtle.webp
  docs/turtle.webp
Due: none

Path conditions:
  jupyter-nbconvert: any of: \.ipynb$
  pyrefly: any of: \.py$
