Repository jyjulianwong/Turtle-Quant-1: changes, and which pre-commit hooks are due for each by the changed paths.
All: jupyter-nbconvert, pyrefly

jupyter-nbconvert:
  name: jupyter-nbconvert
  entry: jupyter nbconvert --clear-output
  language: system
  stages:
  - pre-commit

pyrefly:
  name: pyrefly
  entry: pyrefly check --config pyproject.toml
  language: system
  stages:
  - pre-commit

Refactored weights from list to dict in StrategyEngine
  turtle_quant_1/backtesting/main.py
  turtle_quant_1/config.py
  turtle_quant_1/strategies/base.py
  turtle_quant_1/strategies/engine.py
Due: pyrefly

Renamed variables and methods, addressed TODO comments
  turtle_quant_1/backtesting/engine.py
  turtle_quant_1/backtesting/hyperparameters.py
  turtle_quant_1/backtesting/main.py
  turtle_quant_1/data_processing/adapters/gcs_storage_adapter.py
  turtle_quant_1/data_processing/adapters/yfinance_fetcher.py
  turtle_quant_1/strategies/helpers/candle_units.py
  turtle_quant_1/strategies/helpers/helpers.py
  turtle_quant_1/strategies/helpers/multiprocessing.py
  turtle_quant_1/strategies/helpers/support_resistance/base.py
  turtle_quant_1/strategies/helpers/support_resistance/stnry_fibonacci_retrace.py
  turtle_quant_1/strategies/helpers/support_resistance/stnry_pivot_point.py
Due: pyrefly

Added more support for holiday detection
  turtle_quant_1/data_processing/datetimes.py
Due: pyrefly

Fixed unit tests
  .vscode/launch.json
  tests/conftest.py
  tests/data_processing/test_data_fetcher.py
  tests/data_processing/test_data_processor.py
  tests/data_processing/test_data_storage.py
  turtle_quant_1/data_processing/adapters/gcs_storage_adapter.py
  turtle_quant_1/data_processing/base.py
  turtle_quant_1/data_processing/processor.py
Due: pyrefly

Added new mean reversion strategies, updated visualization notebooks
  notebooks/strategies/mean_reversion_viz.ipynb
  notebooks/strategies/momentum_viz.ipynb
  turtle_quant_1/strategies/mean_reversion/__init__.py
  turtle_quant_1/strategies/mean_reversion/fast_stoch_osc_crossover.py
  turtle_quant_1/strategies/mean_reversion/roc_multi_condition_crossover.py
  turtle_quant_1/strategies/mean_reversion/slow_stoch_osc_crossover.py
  turtle_quant_1/strategies/momentum/__init__.py
  turtle_quant_1/strategies/momentum/moving_average_con_div.py
Due: jupyter-nbconvert, pyrefly

Added pdoc to auto-generate documentation for GitHub Pages
  .github/workflows/main-docs.yaml
  README.md
  pyproject.toml
  uv.lock
Due: none

Temporarily set pdoc to run on dev branch to test deployment
  .github/workflows/main-docs.yaml
Due: none

Successfully tested documentation deployment workflow
  .github/workflows/main-docs.yaml
Due: none

Added MFI Divergence strategy
  notebooks/strategies/mean_reversion_viz.ipynb
  turtle_quant_1/strategies/mean_reversion/__init__.py
  turtle_quant_1/strategies/mean_reversion/mfi_divergence.py
Due: jupyter-nbconvert, pyrefly

1.1.0
  CHANGELOG.md
  pyproject.toml
Due: none

Fixed hyperparameter tuning module runtime errors
  turtle_quant_1/backtesting/hyperparameters.py
Due: pyrefly

fix: Fixed hyperparameter tuning module runtime errors (#2)
  turtle_quant_1/backtesting/hyperparameters.py
Due: pyrefly

1.1.1
  CHANGELOG.md
  pyproject.toml
Due: none

Added optimization docs, added SharedMemoryCache (not used yet)
  docs/optimization-v1.1.0.md
  notebooks/snakeviz.ipynb
  turtle_quant_1/backtesting/engine.py
  turtle_quant_1/strategies/helpers/multiprocessing.py
  turtle_quant_1/strategies/helpers/support_resistance/base.py
Due: jupyter-nbconvert, pyrefly

Made optimizations to DF copying and sorting operations
  docs/optimization-v1.1.0.md
  turtle_quant_1/backtesting/engine.py
  turtle_quant_1/strategies/base.py
  turtle_quant_1/strategies/mean_reversion/bollinger_band.py
  turtle_quant_1/strategies/mean_reversion/fast_stoch_osc_crossover.py
  turtle_quant_1/strategies/mean_reversion/mfi_divergence.py
  turtle_quant_1/strategies/mean_reversion/roc_multi_condition_crossover.py
  turtle_quant_1/strategies/mean_reversion/rsi_sup_res_divergence.py
  turtle_quant_1/strategies/mean_reversion/slow_stoch_osc_crossover.py
  turtle_quant_1/strategies/momentum/moving_average_con_div.py
  turtle_quant_1/strategies/momentum/moving_average_crossover.py
  turtle_quant_1/strategies/momentum/relative_strength_index.py
Due: pyrefly

Reduced the number of data points each strategy has to process for prediction
  docs/optimization-v1.1.0.md
  turtle_quant_1/backtesting/engine.py
  turtle_quant_1/strategies/engine.py
  turtle_quant_1/strategies/mean_reversion/bollinger_band.py
  turtle_quant_1/strategies/mean_reversion/fast_stoch_osc_crossover.py
  turtle_quant_1/strategies/mean_reversion/mfi_divergence.py
  turtle_quant_1/strategies/mean_reversion/roc_multi_condition_crossover.py
  turtle_quant_1/strategies/mean_reversion/rsi_sup_res_divergence.py
  turtle_quant_1/strategies/mean_reversion/slow_stoch_osc_crossover.py
  turtle_quant_1/strategies/momentum/moving_average_con_div.py
  turtle_quant_1/strategies/momentum/moving_average_crossover.py
  turtle_quant_1/strategies/momentum/relative_strength_index.py
Due: pyrefly

Added docstrings on lag metadata in strategies
  turtle_quant_1/strategies/mean_reversion/bollinger_band.py
  turtle_quant_1/strategies/mean_reversion/fast_stoch_osc_crossover.py
  turtle_quant_1/strategies/mean_reversion/mfi_divergence.py
  turtle_quant_1/strategies/mean_reversion/roc_multi_condition_crossover.py
  turtle_quant_1/strategies/mean_reversion/rsi_sup_res_divergence.py
  turtle_quant_1/strategies/mean_reversion/slow_stoch_osc_crossover.py
  turtle_quant_1/strategies/momentum/moving_average_con_div.py
  turtle_quant_1/strategies/momentum/moving_average_crossover.py
  turtle_quant_1/strategies/momentum/relative_strength_index.py
Due: pyrefly

Moved data unit conversion methods into separate class
  notebooks/strategies/scipy_find_peaks_viz.ipynb
  notebooks/strategies/sup_res_viz.ipynb
  turtle_quant_1/strategies/helpers/data_units.py
  turtle_quant_1/strategies/helpers/helpers.py
  turtle_quant_1/strategies/helpers/support_resistance/stnry_fibonacci_retrace.py
  turtle_quant_1/strategies/helpers/support_resistance/stnry_pivot_point.py
  turtle_quant_1/strategies/mean_reversion/fast_stoch_osc_crossover.py
  turtle_quant_1/strategies/mean_reversion/roc_multi_condition_crossover.py
  turtle_quant_1/strategies/mean_reversion/slow_stoch_osc_crossover.py
  turtle_quant_1/strategies/momentum/moving_average_con_div.py
  turtle_quant_1/strategies/momentum/relative_strength_index.py
Due: jupyter-nbconvert, pyrefly

Enabled caching of daily and weekly OHLCV data for backtesting
  turtle_quant_1/backtesting/engine.py
  turtle_quant_1/strategies/helpers/data_units.py
  turtle_quant_1/strategies/helpers/support_resistance/base.py
Due: pyrefly

Updated optimisation documentation
  docs/optimization-v1.2.0.md
Due: none

Removed extraneous branch filter in GitHub Actions workflow
  .github/workflows/dev-test.yaml
  .github/workflows/main-deploy.yaml
Due: none

Renamed methods with '_vectorised' suffix as '_vecd'
  docs/optimization-v1.2.0.md
  src/turtle_quant_1/strategies/candlesticks/engulfing_pattern.py
  src/turtle_quant_1/strategies/candlesticks/momentum_pattern.py
  src/turtle_quant_1/strategies/candlesticks/multiple_pattern.py
  src/turtle_quant_1/strategies/helpers/helpers.py
  src/turtle_quant_1/strategies/helpers/support_resistance/base.py
Due: pyrefly

1.2.0
  CHANGELOG.md
  pyproject.toml
Due: none

Fixed incorrect ordering of Dockerfile commands after src/ folder migration
  Dockerfile
  uv.lock
Due: none

fix: Fixed incorrect ordering of Dockerfile commands after `src/` folder migration (#4)
  Dockerfile
  uv.lock
Due: none

1.2.1
  CHANGELOG.md
  pyproject.toml
Due: none

Overhauled data units to follow TradingView conventions (e.g. 15M, 4H etc.)
  notebooks/strategies/scipy_find_peaks_viz.ipynb
  notebooks/strategies/sup_res_viz.ipynb
  src/turtle_quant_1/backtesting/engine.py
  src/turtle_quant_1/config.py
  src/turtle_quant_1/data_processing/adapters/alpha_vantage_fetcher.py
  src/turtle_quant_1/data_processing/adapters/gcs_storage_adapter.py
  src/turtle_quant_1/data_processing/adapters/yfinance_fetcher.py
  src/turtle_quant_1/data_processing/base.py
  src/turtle_quant_1/data_processing/maintainer.py
  src/turtle_quant_1/data_processing/processor.py
  src/turtle_quant_1/strategies/candlesticks/engulfing_pattern.py
  src/turtle_quant_1/strategies/candlesticks/multiple_pattern.py
  src/turtle_quant_1/strategies/engine.py
  src/turtle_quant_1/strategies/helpers/candle_units.py
  src/turtle_quant_1/strategies/helpers/data_units.py
  src/turtle_quant_1/strategies/helpers/support_resistance/stnry_fibonacci_retrace.py
  src/turtle_quant_1/strategies/helpers/support_resistance/stnry_gaussian_kde.py
  src/turtle_quant_1/strategies/helpers/support_resistance/stnry_pivot_point.py
  src/turtle_quant_1/strategies/mean_reversion/bollinger_band.py
  src/turtle_quant_1/strategies/mean_reversion/fast_stoch_osc_crossover.py
  src/turtle_quant_1/strategies/mean_reversion/mfi_divergence.py
  src/turtle_quant_1/strategies/mean_reversion/roc_multi_condition_crossover.py
  src/turtle_quant_1/strategies/mean_reversion/rsi_sup_res_divergence.py
  src/turtle_quant_1/strategies/mean_reversion/slow_stoch_osc_crossover.py
  src/turtle_quant_1/strategies/momentum/moving_average_con_div.py
  src/turtle_quant_1/strategies/momentum/moving_average_crossover.py
  src/turtle_quant_1/strategies/momentum/relative_strength_index.py
  tests/conftest.py
  tests/data_processing/test_data_fetcher.py
  tests/data_processing/test_data_processor.py
Due: jupyter-nbconvert, pyrefly

Added price and buy/sell signal visualisation for backtesting
  notebooks/backtesting/main.ipynb
  notebooks/snakeviz.ipynb
  src/turtle_quant_1/backtesting/engine.py
  src/turtle_quant_1/backtesting/models.py
  src/turtle_quant_1/backtesting/viz.py
  uv.lock
Due: jupyter-nbconvert, pyrefly

Path conditions:
  jupyter-nbconvert: any of: \.ipynb$
  pyrefly: any of: \.py$
