Repository jyjulianwong/Turtle-Quant-1: changes, and which pre-commit hooks are due for each by the changed paths.
All: jupyter-nbconvert, pyrefly

jupyter-nbconvert:
  name: jupyter-nbconvert
  entry: jupyter nbconvert --clear-output
  language: system
  stages:
  - pre-commit

pyrefly:
  name: pyrefly
  entry: pyrefly check --config pyproject.toml
  language: system
  stages:
  - pre-commit

Added several placeholder strategies for testing
  pyproject.toml
  turtle_quant_1/backtesting/__init__.py
  turtle_quant_1/backtesting/engine.py
  turtle_quant_1/backtesting/main.py
  turtle_quant_1/backtesting/test_runner.py
  turtle_quant_1/config.py
  turtle_quant_1/data_processing/__init__.py
  turtle_quant_1/strategies/__init__.py
  turtle_quant_1/strategies/base.py
  turtle_quant_1/strategies/engine.py
  turtle_quant_1/strategies/mean_reversion/__init__.py
  turtle_quant_1/strategies/mean_reversion/bollinger_band_strategy.py
  turtle_quant_1/strategies/momentum/__init__.py
  turtle_quant_1/strategies/momentum/linear_regression_strategy.py
  turtle_quant_1/strategies/momentum/moving_average_crossover_strategy.py
  turtle_quant_1/strategies/momentum/relative_strength_index_strategy.py
  uv.lock
Due: pyrefly

Added historical and predictive score generation to strategies for analysis
  turtle_quant_1/backtesting/test_runner.py
  turtle_quant_1/strategies/base.py
  turtle_quant_1/strategies/engine.py
  turtle_quant_1/strategies/mean_reversion/bollinger_band_strategy.py
  turtle_quant_1/strategies/momentum/linear_regression_strategy.py
  turtle_quant_1/strategies/momentum/moving_average_crossover_strategy.py
  turtle_quant_1/strategies/momentum/relative_strength_index_strategy.py
Due: pyrefly

Huge commit
  .vscode/launch.json
  README.md
  notebooks/quantstats_demo.ipynb
  pyproject.toml
  tests/data_processing/test_data_fetcher.py
  tests/data_processing/test_data_processor.py
  tests/data_processing/test_data_storage.py
  turtle_quant_1/backtesting/engine.py
  turtle_quant_1/backtesting/hyperparameters.py
  turtle_quant_1/backtesting/main.py
  turtle_quant_1/backtesting/models.py
  turtle_quant_1/backtesting/portfolio.py
  turtle_quant_1/backtesting/runner.py
  turtle_quant_1/backtesting/test_runner.py
  turtle_quant_1/data_processing/adapters/__init__.py
  turtle_quant_1/data_processing/adapters/alpha_vantage_fetcher.py
  turtle_quant_1/data_processing/adapters/gcs_storage_adapter.py
  turtle_quant_1/data_processing/adapters/yfinance_fetcher.py
  turtle_quant_1/data_processing/base.py
  turtle_quant_1/data_processing/datetimes.py
  turtle_quant_1/data_processing/maintainer.py
  turtle_quant_1/data_processing/processor.py
  turtle_quant_1/strategies/base.py
  turtle_quant_1/strategies/engine.py
  turtle_quant_1/strategies/mean_reversion/bollinger_band.py
  turtle_quant_1/strategies/momentum/linear_regression.py
  turtle_quant_1/strategies/momentum/moving_average_crossover.py
  turtle_quant_1/strategies/momentum/relative_strength_index.py
  uv.lock
Due: jupyter-nbconvert, pyrefly

Enabled multithreading for hyperparameter tuning
  turtle_quant_1/backtesting/hyperparameters.py
  turtle_quant_1/strategies/engine.py
Due: pyrefly

Fixed unit tests to adapt to new DataProcessor implementation
  notebooks/backtesting/__init__.py
  notebooks/backtesting/quantstats_demo.ipynb
  notebooks/strategies/__init__.py
  tests/data_processing/test_data_processor.py
Due: jupyter-nbconvert, pyrefly

Created data viz notebook for momentum strategies
  notebooks/strategies/momentum_viz.ipynb
Due: jupyter-nbconvert

Updated README.md
  README.md
Due: none

Fine-tuned strategy parameters by visualization, enabled multithreading in StrategyEngine
  notebooks/strategies/mean_reversion_viz.ipynb
  notebooks/strategies/momentum_viz-Copy1.ipynb
  turtle_quant_1/strategies/engine.py
  turtle_quant_1/strategies/mean_reversion/bollinger_band.py
  turtle_quant_1/strategies/momentum/linear_regression.py
  turtle_quant_1/strategies/momentum/moving_average_crossover.py
  turtle_quant_1/strategies/momentum/relative_strength_index.py
Due: jupyter-nbconvert, pyrefly

Reverted accidental renaming of notebook
  notebooks/strategies/momentum_viz.ipynb
Due: jupyter-nbconvert

Shortened import statements for strategies
  notebooks/strategies/mean_reversion_viz.ipynb
  notebooks/strategies/momentum_viz.ipynb
  turtle_quant_1/backtesting/main.py
  turtle_quant_1/strategies/mean_reversion/__init__.py
  turtle_quant_1/strategies/momentum/__init__.py
Due: jupyter-nbconvert, pyrefly

Replaced multithreading with multiprocessing in StrategyEngine for better parallelism
  turtle_quant_1/strategies/engine.py
Due: pyrefly

Replaced multiprocessing with better multiprocessing
  turtle_quant_1/backtesting/engine.py
  turtle_quant_1/backtesting/hyperparameters.py
  turtle_quant_1/strategies/engine.py
Due: pyrefly

Removed LinearRegression strategy, renamed hyperparameters, added lookback parameter validation
  notebooks/strategies/mean_reversion_viz.ipynb
  notebooks/strategies/momentum_viz.ipynb
  turtle_quant_1/backtesting/hyperparameters.py
  turtle_quant_1/backtesting/main.py
  turtle_quant_1/strategies/mean_reversion/bollinger_band.py
  turtle_quant_1/strategies/momentum/__init__.py
  turtle_quant_1/strategies/momentum/linear_regression.py
  turtle_quant_1/strategies/momentum/moving_average_crossover.py
  turtle_quant_1/strategies/momentum/relative_strength_index.py
Due: jupyter-nbconvert, pyrefly

Initial implementation of candlestick pattern strategies with notebooks
  notebooks/strategies/candlesticks_viz.ipynb
  notebooks/strategies/sup_res_viz.ipynb
  pyproject.toml
  turtle_quant_1/backtesting/hyperparameters.py
  turtle_quant_1/backtesting/main.py
  turtle_quant_1/strategies/candlesticks/__init__.py
  turtle_quant_1/strategies/candlesticks/engulfing_pattern.py
  turtle_quant_1/strategies/candlesticks/momentum_pattern.py
  turtle_quant_1/strategies/candlesticks/multiple_pattern.py
  turtle_quant_1/strategies/engine.py
  turtle_quant_1/strategies/helpers.py
  turtle_quant_1/strategies/mean_reversion/__init__.py
  turtle_quant_1/strategies/mean_reversion/rsi_sup_res_divergence.py
  uv.lock
Due: jupyter-nbconvert, pyrefly

Re-implemented support and resistance, caused a whole lot of other changes
  .pre-commit-config.yaml
  notebooks/strategies/candlesticks_viz.ipynb
  notebooks/strategies/sup_res_viz.ipynb
  pyproject.toml
  turtle_quant_1/backtesting/engine.py
  turtle_quant_1/backtesting/main.py
  turtle_quant_1/strategies/candlesticks/engulfing_pattern.py
  turtle_quant_1/strategies/candlesticks/momentum_pattern.py
  turtle_quant_1/strategies/candlesticks/multiple_pattern.py
  turtle_quant_1/strategies/engine.py
  turtle_quant_1/strategies/helpers.py
  turtle_quant_1/strategies/helpers/__init__.py
  turtle_quant_1/strategies/helpers/helpers.py
  turtle_quant_1/strategies/helpers/multiprocessing.py
  turtle_quant_1/strategies/helpers/support_resistance/__init__.py
  turtle_quant_1/strategies/helpers/support_resistance/base.py
  turtle_quant_1/strategies/helpers/support_resistance/fibonacci_retracement.py
  turtle_quant_1/strategies/helpers/support_resistance/local_extrema_static.py
  turtle_quant_1/strategies/helpers/support_resistance/pivot_point.py
Due: jupyter-nbconvert, pyrefly

Added import sorting as explicit rule in Ruff configuration
  pyproject.toml
  turtle_quant_1/strategies/helpers/helpers.py
  turtle_quant_1/strategies/helpers/support_resistance/pivot_point.py
Due: pyrefly

Saved progress on implementing support-resistance strategies
  notebooks/strategies/scipy_find_peaks_viz.ipynb
  notebooks/strategies/sup_res_viz.ipynb
  pyproject.toml
  turtle_quant_1/strategies/helpers/helpers.py
  turtle_quant_1/strategies/helpers/support_resistance/__init__.py
  turtle_quant_1/strategies/helpers/support_resistance/base.py
  turtle_quant_1/strategies/helpers/support_resistance/fibonacci_retrace_static.py
  turtle_quant_1/strategies/helpers/support_resistance/fibonacci_retracement.py
  turtle_quant_1/strategies/helpers/support_resistance/local_extrema_static.py
  turtle_quant_1/strategies/helpers/support_resistance/pivot_point_static.py
Due: jupyter-nbconvert, pyrefly

Initial implementation of stationary Gaussian KDE support-resistance strategy
  notebooks/strategies/scipy_find_peaks_viz.ipynb
  notebooks/strategies/sup_res_viz.ipynb
  turtle_quant_1/strategies/helpers/support_resistance/__init__.py
  turtle_quant_1/strategies/helpers/support_resistance/base.py
  turtle_quant_1/strategies/helpers/support_resistance/stnry_fibonacci_retrace.py
  turtle_quant_1/strategies/helpers/support_resistance/stnry_gaussian_kde.py
  turtle_quant_1/strategies/helpers/support_resistance/stnry_local_extrema.py
  turtle_quant_1/strategies/helpers/support_resistance/stnry_pivot_point.py
Due: jupyter-nbconvert, pyrefly

Updated docstrings in Gaussian KDE strategy
  turtle_quant_1/strategies/helpers/support_resistance/stnry_gaussian_kde.py
Due: pyrefly

Updated PivotPoint strategy, made threshold a strategy-specific parameter, updated notebooks
  notebooks/strategies/sup_res_viz.ipynb
  turtle_quant_1/strategies/helpers/support_resistance/base.py
  turtle_quant_1/strategies/helpers/support_resistance/stnry_fibonacci_retrace.py
  turtle_quant_1/strategies/helpers/support_resistance/stnry_gaussian_kde.py
  turtle_quant_1/strategies/helpers/support_resistance/stnry_local_extrema.py
  turtle_quant_1/strategies/helpers/support_resistance/stnry_pivot_point.py
Due: jupyter-nbconvert, pyrefly

Refined multiprocessing classes, fixed visualization errors with StnryGaussianKde
  notebooks/strategies/sup_res_viz.ipynb
  turtle_quant_1/backtesting/engine.py
  turtle_quant_1/strategies/helpers/multiprocessing.py
  turtle_quant_1/strategies/helpers/support_resistance/base.py
  turtle_quant_1/strategies/helpers/support_resistance/stnry_gaussian_kde.py
  turtle_quant_1/strategies/helpers/support_resistance/stnry_local_extrema.py
  turtle_quant_1/strategies/helpers/support_resistance/stnry_pivot_point.py
Due: jupyter-nbconvert, pyrefly

Updated README.md
  README.md
  turtle_quant_1/strategies/helpers/support_resistance/stnry_gaussian_kde.py
Due: pyrefly

Added program profiling code for compute performance analysis
  .gitignore
  notebooks/snakeviz.ipynb
  pyproject.toml
  turtle_quant_1/config.py
  turtle_quant_1/strategies/candlesticks/engulfing_pattern.py
  turtle_quant_1/strategies/candlesticks/multiple_pattern.py
  turtle_quant_1/strategies/engine.py
  turtle_quant_1/strategies/helpers/support_resistance/base.py
  uv.lock
Due: jupyter-nbconvert, pyrefly

Vectorization
  notebooks/strategies/candlesticks_viz.ipynb
  notebooks/strategies/sup_res_viz.ipynb
  turtle_quant_1/backtesting/engine.py
  turtle_quant_1/strategies/candlesticks/engulfing_pattern.py
  turtle_quant_1/strategies/candlesticks/momentum_pattern.py
  turtle_quant_1/strategies/candlesticks/multiple_pattern.py
  turtle_quant_1/strategies/helpers/helpers.py
  turtle_quant_1/strategies/helpers/multiprocessing.py
  turtle_quant_1/strategies/helpers/support_resistance/__init__.py
  turtle_quant_1/strategies/helpers/support_resistance/base.py
  turtle_quant_1/strategies/helpers/support_resistance/stnry_fibonacci_retrace.py
  turtle_quant_1/strategies/helpers/support_resistance/stnry_gaussian_kde.py
  turtle_quant_1/strategies/helpers/support_resistance/stnry_local_extrema.py
  turtle_quant_1/strategies/helpers/support_resistance/stnry_pivot_point.py
Due: jupyter-nbconvert, pyrefly

Added additional pre-commit configuration
  pyproject.toml
Due: none

Attempted to implement clear method for ProcessSafeCache
  turtle_quant_1/strategies/helpers/multiprocessing.py
Due: pyrefly

Enabled multiprocessing cache to be cleaned up using reference counting garbage collection
  turtle_quant_1/strategies/engine.py
  turtle_quant_1/strategies/helpers/multiprocessing.py
Due: pyrefly

Implemented stop loss mechanism to Signals
  turtle_quant_1/backtesting/engine.py
  turtle_quant_1/backtesting/portfolio.py
  turtle_quant_1/strategies/base.py
  turtle_quant_1/strategies/engine.py
  turtle_quant_1/strategies/helpers/helpers.py
  turtle_quant_1/strategies/helpers/support_resistance/stnry_gaussian_kde.py
Due: pyrefly

Implemented candle unit conversion
  turtle_quant_1/backtesting/engine.py
  turtle_quant_1/backtesting/portfolio.py
  turtle_quant_1/strategies/engine.py
  turtle_quant_1/strategies/helpers/candle_units.py
  turtle_quant_1/strategies/helpers/support_resistance/stnry_gaussian_kde.py
  turtle_quant_1/strategies/mean_reversion/bollinger_band.py
  turtle_quant_1/strategies/mean_reversion/rsi_sup_res_divergence.py
  turtle_quant_1/strategies/momentum/moving_average_crossover.py
  turtle_quant_1/strategies/momentum/relative_strength_index.py
Due: pyrefly

Added MAX_WORKERS as a variable across Terraform
  .github/workflows/test-build-deploy.yaml
  terraform/main.tf
  terraform/p.tfvars.template
  terraform/variables.tf
  tests/conftest.py
Due: pyrefly

feat: Initial attempt at using semantic-release
  .github/workflows/test-build-deploy.yaml
  pyproject.toml
  uv.lock
Due: none

feat: Initial attempt at using semantic-release
  .github/workflows/test-build-deploy.yaml
  pyproject.toml
  setup.py
  uv.lock
Due: pyrefly

feat: Initial attempt at using semantic-release
  .github/workflows/test-build-deploy.yaml
Due: none

1.0.0
  CHANGELOG.md
  pyproject.toml
Due: none

fix: Updated GitHub Action workflows
  .github/workflows/dev-test.yaml
  .github/workflows/main-deploy.yaml
  turtle_quant_1/config.py
Due: pyrefly

1.0.1
  CHANGELOG.md
  pyproject.toml
Due: none

Added mechanism to regularly delete outdated data from database
  turtle_quant_1/data_processing/datetimes.py
  turtle_quant_1/data_processing/maintainer.py
  turtle_quant_1/data_processing/processor.py
Due: pyrefly

Added additional symbols for live and backtesting
  turtle_quant_1/config.py
Due: pyrefly

Fine-tuned support-resistance parameters, fixed convert-to-weekly method
  notebooks/strategies/candlesticks_viz.ipynb
  notebooks/strategies/mean_reversion_viz.ipynb
  notebooks/strategies/momentum_viz.ipynb
  notebooks/strategies/scipy_find_peaks_viz.ipynb
  notebooks/strategies/sup_res_viz.ipynb
  turtle_quant_1/strategies/helpers/helpers.py
  turtle_quant_1/strategies/helpers/support_resistance/base.py
  turtle_quant_1/strategies/helpers/support_resistance/stnry_fibonacci_retrace.py
  turtle_quant_1/strategies/helpers/support_resistance/stnry_local_extrema.py
  turtle_quant_1/strategies/helpers/support_resistance/stnry_pivot_point.py
Due: jupyter-nbconvert, pyrefly

Fixed data resampling methods, fine-tuned existing strategies
  notebooks/strategies/candlesticks_viz.ipynb
  turtle_quant_1/config.py
  turtle_quant_1/strategies/candlesticks/engulfing_pattern.py
  turtle_quant_1/strategies/candlesticks/multiple_pattern.py
  turtle_quant_1/strategies/helpers/helpers.py
  turtle_quant_1/strategies/helpers/support_resistance/base.py
  turtle_quant_1/strategies/helpers/support_resistance/stnry_fibonacci_retrace.py
  turtle_quant_1/strategies/helpers/support_resistance/stnry_pivot_point.py
  turtle_quant_1/strategies/momentum/relative_strength_index.py
Due: jupyter-nbconvert, pyrefly

Path conditions:
  jupyter-nbconvert: any of: \.ipynb$
  pyrefly: any of: \.py$
